name: On Pull Request

on:
  pull_request:
    branches: [ main ]
    
env:
  CARGO_TERM_COLOR: always

jobs:
  cargo-test:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: 1.51.0
        components: clippy
        target: x86_64-unknown-linux-musl
        override: true
    - name: Clippy deny all warnings
      run: cargo clippy --target=x86_64-unknown-linux-musl --all-targets --all-features -- -D warnings
    - name: All tests
      run: cargo test --target=x86_64-unknown-linux-musl --verbose
  docker-test:
    runs-on: ubuntu-20.04
    env:
      RUSTFLAGS: "-C link-args=-s"
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.51.0
          target: x86_64-unknown-linux-musl
          override: true
      - name: All tests
        run: |
          cargo build --release --target=x86_64-unknown-linux-musl
          docker build -t test/image:latest -f Dockerfile .
